<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Your Packages</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h1>Your Packages</h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Package ID</th>
      <th>Details</th>
      <th>Destination</th>
      <th>Status</th>
      <th>Location</th>
      <th>Distance</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pkg, i : ${userPackages}">
      <td th:text="${pkg.packageID}"></td>
      <td th:text="${pkg.details}"></td>
      <td th:text="${pkg.destinationX + ', ' + pkg.destinationY}"></td>
      <td th:text="${pkg.status}"></td>
      <td th:text="${pkg.locationX + ', ' + pkg.locationY}"></td>
      <td th:text="${pkg.distance}"></td>
      <td>
        <a th:href="@{'/changeDestination/' + ${pkg.packageID}}" class="btn btn-primary">Change Destination</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-secondary" th:href="@{/main}">Back to main page</a>
</div>
</body>
</html>

